#encoding: utf-8
<!DOCTYPE html>
<html>
<!--<head>
  <title>JpToCh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>-->
<body>

<div class="container-fluid">
<%= render "common/navbar" %> 
<%= yield %>
</div>

<%= notice_message %>


<div class="container">
  <div class="row">
    <div class="span4">


<%= form_tag("/jp_toch", method: "get", remote: true, class:'text-center', id: "tool-form") do %>
  <%= label_tag(:chinese, "請輸入中二文", class:'text-info') %>
  <%= text_field_tag(:chinese) %>
  <%= submit_tag("轉換" ,class:'btn btn-primary') %>
<% end %>


<div class="text-center">
<button id="tutorialBtn" class="btn btn-info">點我教學文</button>

<p></p>
<!--<strong>請勿輸入非中文 eg.</strong><u>我愛s你, 幹x123我</u><p></p>
  <strong>出現error可能是日文沒有這個漢字</strong><p></p> -->
  <strong>2015/12/31 新增例外處理,新增查詢結果</strong><p></p>
  <strong>2016/01/11 修改為Ajax加上一點點的優化</strong><p></p>

  </div>

<div id="outPutResult">
<div>

<!--
<% if @map.length > 0  %>
<table class="table table-responsive">
    <thead>
      <tr>
        <td class="col-md-2">中文字</td>
        <td>片假名讀音</td>
      </tr>
    </thead>
    <tbody>
      <% @map.each do |f| %>
        <tr>        
          <td><%= f.chinese %></td>
          <td><%= f.japanese %></td>    
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end%>
-->
  </div>
  </div>
  </div>

<!--
  <div class="col-sm-4">
       <div id="recentInput">
		       	<table class="table table-responsive">
		    <thead>
		      <tr>
		        <td class="">最近使用者查詢</td>
		      </tr>
		    </thead>
		    <tbody>
		      <% UserInput.order("created_at DESC").limit(5).each do |f| %>
		        <tr>        
		          <td><%= f.input %></td>    
		        </tr>
		      <% end %>
		    </tbody>
		  </table>


       </div>
  </div>

  -->

<!-- Modal from bootstrap : Loading Screen-->
  <div class="modal fade" id="pleaseWaitDialog" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <label class="text-center">讀取一下.......</label>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal from bootstrap : Tutorial-->
  <div class="modal fade" id="pleaseWaitDialog2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title text-center">教學文</h2>
        </div>
        <div class="modal-body">
          <h3 class="bg-info text-center">1.輸入你想打的中文然後點一下"轉換"</h3>
          <%= image_tag("step1.png" ,class:"img-responsive") %>
          <h3 class="bg-info text-center">2.對照出來的結果</h3>
          <%= image_tag("step2.png" ,class:"img-responsive") %>
          <h3 class="bg-info text-center">3.打開你的3DS</h3>
          <%= image_tag("step3.jpg",class:"img-responsive") %>
          <h3 class="bg-info text-center">4.如果有"推薦使用"的話，用它會比較準</h3>
          <%= image_tag("step4.jpg",class:"img-responsive") %>
          <h3 class="bg-info text-center">5.完成!!!輕鬆用日文打中文</h3>
          <%= image_tag("step5.jpg",class:"img-responsive") %>
          <%= image_tag("step6.jpg",class:"img-responsive") %>
        </div>
      </div>
    </div>
  </div>

    

  </div>
  </div>

  <%= render "common/footer" %>

  </div><!--warp-->



</body>
</html>
